.DS_Store
*.xcuserstate
*.xcuserdatad
*.xcworkspace/xcuserdata/
xcuserdata/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.ipa
*.dSYM.zip
*.dSYM
build/
DerivedData/
*.hmap
*.xcadf
*.xccheckout
*.xcscmblueprint
*.xcodeproj/project.xcworkspace/xcuserdata/
