# macOS
.DS_Store
.AppleDouble
.LSOverride

# Xcode
*.xcodeproj
!*.xcodeproj/project.pbxproj
*.xcworkspace
!*.xcworkspace/contents.xcworkspacedata
xcuserdata/
*.xcuserstate
*.xcuserdatad
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
!default.pbxproj
!default.mode1v3
!default.mode2v3
!default.perspectivev3

# Build
build/
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# SPM
.swiftpm/
Packages
*.xcodeproj_bundle_definition

# Documentation
*.md
!README.md

# Local files
instructions.txt
TODO.md
